# Before you start :
   - These exercises are related to the Pivot table and correlation lessons.
   - Keep in mind that you need to use some of the functions you learned in the previous lessons.
   - All datasets are provided in the `your-code` folder of this lab.
   - Elaborate your codes and outputs as much as you can.
   - Try your best to answer the questions and complete the tasks and most importantly enjoy the process!!!

#### Import all the libraries that are necessary

In [1]:
# import libraries here
import numpy as np
import pandas as pd

# Challenge 1

#### Open the ` Employee.csv` file and name your dataset `employee`

In [13]:
# your answer here
employees = pd.read_csv("employee.csv")
employees

     Name Department Education Gender      Title  Years  Salary
0    Jose         IT  Bachelor      M    analyst      1      35
1   Maria         IT    Master      F    analyst      2      30
2   David         HR    Master      M    analyst      2      30
3   Sonia         HR  Bachelor      F    analyst      4      35
4  Samuel      Sales    Master      M  associate      3      55
5     Eva      Sales  Bachelor      F  associate      2      55
6  Carlos         IT    Master      M         VP      8      70
7   Pedro         IT       Phd      M  associate      7      60
8     Ana         HR    Master      F         VP      8      70

#### What's the mean salary by department. 
##### Tip : There are 2 ways to do it - one way is with and the other way is without pivot tables. Do it both ways.

In [77]:
# your answer here-1st way
salaries= employees.groupby('Department')['Salary'].mean()

#agg_funcs = {'Salary':mean}>>> df.agg("mean", axis="columns")


#df = employees.groupby('Department').agg("mean", axis="1")
salaries

Department
HR       45.00
IT       48.75
Sales    55.00
Name: Salary, dtype: float64

In [90]:
employees["1"] = 1

In [91]:
table = pd.pivot_table(employees, values='Salary', index=['Department'],
                     columns=['1'], aggfunc=np.mean)

In [92]:
table

1               1
Department
HR          45.00
IT          48.75
Sales       55.00

In [85]:
table.mean(axis=1)

Department
HR       45.00
IT       48.75
Sales    55.00
dtype: float64

In [112]:
# your answer here-2nd way
employees.pivot('Department','Years','Salary').mean(axis=1)
#employees.pivot_table(index='Department',columns=['Years'],values=['Salary'],aggfunc='mean')

#df.pivot(index ='A', columns ='B', values =['C', 'A'])

Department
HR       45.00
IT       48.75
Sales    55.00
dtype: float64

#### We want now to group the data by more than one column. Use Pandas pivot table function to select the mean salary by department and title

In [113]:
#employees.groupby(["Department", "Title"])["Salary"].mean()


employees.pivot_table(index='Department',columns=['Title'],values=['Salary'],aggfunc='mean')

           Salary
Title          VP analyst associate
Department
HR           70.0    32.5       NaN
IT           70.0    32.5      60.0
Sales         NaN     NaN      55.0

# your answer here

#employees.pivot('Department','Salary','Title').mean(axis=1)
#employees.pivot(index ='Department', columns ='Title', values =['Salary', 'Department']) 



pd.pivot_table(df, values = 'Salary', index=None, columns = None)


#pd.pivot_table(df, values = ['Salary','Title'], index=['Sales','HR'], columns = '')
#data, values=None, index=None, columns=None,

#### We want to display the number of years of work experience and the salary for each Title. Add Years as a column in your pivot table
*Hint: Use Pandas doc(see References in README.md) to explore the pivot_table() arguments*

In [118]:
# your answer here
#employees.pivot_table(index='Title',columns=None,values=['Salary','Years'],aggfunc='mean')


employees.pivot_table(index='Department',columns=['Title','Years'],values=['Salary'],aggfunc='mean')

           Salary
Title          VP analyst             associate
Years           8       1     2     4         2     3     7
Department
HR           70.0     NaN  30.0  35.0       NaN   NaN   NaN
IT           70.0    35.0  30.0   NaN       NaN   NaN  60.0
Sales         NaN     NaN   NaN   NaN      55.0  55.0   NaN

#### We want to know the information about the mean salary and number of employees in each department and for each job title

In [119]:
# your answer here
employees.pivot_table(index='Department',columns=['Title'],values=['Salary'],aggfunc='mean')

           Salary
Title          VP analyst associate
Department
HR           70.0    32.5       NaN
IT           70.0    32.5      60.0
Sales         NaN     NaN      55.0

In [125]:
employees.pivot_table(index='Department',columns=['Title'],values=['Salary'],aggfunc=['mean','count'])

             mean                    count
           Salary                   Salary
Title          VP analyst associate     VP analyst associate
Department
HR           70.0    32.5       NaN    1.0     2.0       NaN
IT           70.0    32.5      60.0    1.0     2.0       1.0
Sales         NaN     NaN      55.0    NaN     NaN       2.0

#### We want to know for each department and for each job title the Salary's median,minimum,maximum and standard deviation. Comment your results

In [131]:
# your answer here
employees.groupby(['Department','Title'])['Salary'].describe()

                      count  mean       std   min    25%   50%    75%   max
Department Title
HR         VP           1.0  70.0       NaN  70.0  70.00  70.0  70.00  70.0
           analyst      2.0  32.5  3.535534  30.0  31.25  32.5  33.75  35.0
IT         VP           1.0  70.0       NaN  70.0  70.00  70.0  70.00  70.0
           analyst      2.0  32.5  3.535534  30.0  31.25  32.5  33.75  35.0
           associate    1.0  60.0       NaN  60.0  60.00  60.0  60.00  60.0
Sales      associate    2.0  55.0  0.000000  55.0  55.00  55.0  55.00  55.0

In [132]:
employees.pivot_table(index='Department',columns=['Title'],values=['Salary'],aggfunc=['mean','min','max','std'])

             mean                      min                      max          \
           Salary                   Salary                   Salary
Title          VP analyst associate     VP analyst associate     VP analyst
Department
HR           70.0    32.5       NaN   70.0    30.0       NaN   70.0    35.0
IT           70.0    32.5      60.0   70.0    30.0      60.0   70.0    35.0
Sales         NaN     NaN      55.0    NaN     NaN      55.0    NaN     NaN

                           std
                        Salary
Title      associate   analyst associate
Department
HR               NaN  3.535534       NaN
IT              60.0  3.535534       NaN
Sales           55.0       NaN       0.0

#### Based on your comments, fill the missing values with an appropriate value

In [135]:
# your answer here

#### The stake holders want to know for each department the number of employees and how much money is spend on salaries. Could you provide that information?

In [136]:
# your answer here

employees.pivot_table(index='Department',columns=None,values=['Salary'],aggfunc='sum')

            Salary
Department
HR             135
IT             195
Sales          110

#### For each Department and Title, we want to know the the total years of work experience and the mean salary

In [148]:
# your answer here

def sum_and_mean(row):
    return (row['Salary'].mean(),row['Years'].sum())

sum_and_mean(employees.iloc[0])

(35.0, 1)

In [152]:
employees['Salary']

AttributeError: 'Series' object has no attribute 'key'

In [149]:
employees.pivot_table(index='Department',columns=['Title'],values=['Years','Salary'],aggfunc=sum_and_mean)

KeyError: 'Salary'

#### Bonus

#### We now want to compute the mean salary after removing the maxima for each Department. Create the appropriate pivot table

#### * Hint: Write a custom function*

In [12]:
# your answer here--Your custom function here

In [13]:
# your answer here

# Challenge 2

#### Open the ` Fitbit.csv` file and name your dataset `fitbit`

In [14]:
# your answer here

#### Explore you dataset in terms of data types and descriptive statistics
#### *Hint: Use Pandas functions from previous lectures*

In [15]:
# your answer here

In [16]:
# your answer here

#### You suspect that there must be a linear relationship between the Minutes Very Active and the Steps. Compute the correlation between these variables.

In [17]:
# your answer here

#### Use matplotlib to visually plot Minutes Very active vs Steps. 

##### Hint : import matplotlib.pyplot as plt (See previous lessons)#####
- Use plt.scatter(x=df['col_name_1'], y=df['col_name_2'])

In [18]:
# your answer here

#### What can you say about Minute Very Active and Steps? Write a comment below

In [19]:
# your comment here

#### We also suspect that there must be a linear relationship between the Minutes Sedentary and the Steps. Compute the correlation between these variables.

In [20]:
# your answer here

#### Use matplotlib to visually plot Minutes Sedentary vs Steps. Based on the results of the computed correlation and the plot. What can you say about these 2 variables?

In [21]:
# your answer here

In [22]:
# Your comment here

#### We also suspect that there must be a linear relationship between the MinutesOfSleep and the Steps. Compute the correlation between these variables.

In [23]:
# your answer here

#### Use matplotlib to visually plot MinutesOfSleep vs Steps. Based on the results of the computed correlation and the plot. What can you say about these 2 variables?

In [24]:
# your answer here

#### Select a subset of your dataset with the columns below and compute the correlation matrix. Save the results in the variable `cor_fit`
column= ['Calorie burned', 'Steps','Floors','Minutes Sedentary','Minutes Very Active', 'MinutesOfSleep']

In [25]:
# your answer here

In [26]:
#Print cor_fit

#### Based on the result of the correlation matrix. What are the highly correlated features with the variable Steps?
*Hint: From the results above select the variable Steps and order your results in descending order (use Pandas sort_values function)*

In [27]:
# your answer here

# Challenge 3

#### Open the `Time_Grades.csv` file and name your dataset `time_grades`

In [28]:
# your answer here

In [29]:
#Print time_grades

#### Show visually the frequency distribution of the time_grades dataset.

In [30]:
# your answer here

#### Is there a correaltion between study time and Grade? Use both Pearson and Spearman correlation and comment your results.

In [31]:
# your answer here-Pearson

In [32]:
## your answer here-Spearman

#### Use matplotlib to visually plot Study time vs Grade. Based on the results of the computed correlation and the plot. What can you say about these 2 variables?

In [33]:
# your answer here

In [34]:
#your comment here

#### Could you explain the difference between Pearson and Spearman correlation? (see References in README.md)

In [35]:
#your comment here