# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [87]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset.

In [161]:
# Run this code:

admissions = pd.read_csv('../Admission_Predict.csv')
#to remove trailing spaces at the end of the column names
admissions.columns = admissions.columns.str.rstrip()

Let's evaluate the dataset by looking at the `head` function.

In [89]:
# Your code here:

admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [90]:
# Your code here:

admissions.isnull().values.any()

False

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [91]:
# Your code here:

admissions.index

RangeIndex(start=0, stop=385, step=1)

In [92]:
#admissions.index = admissions["Serial No."] Pas bon car j'ai 2fois la mÃªme column
admissions.set_index('Serial No.', inplace=True)

In [93]:
admissions.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
5,330,115,5,4.5,3.0,9.34,1,0.90

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [94]:
# Your code here:
(admissions["GRE Score"].map(str) + admissions["CGPA"].map(str)).value_counts()

#Sans le map string il fait une addition car ce sont des

3088.24    1
3299.16    1
3389.66    1
3007.8     1
3278.4     1
3088.45    1
3258.96    1
3219.12    1
3157.86    1
3399.8     1
3329.36    1
3208.56    1
3349.7     1
3077.65    1
3349.48    1
3038.65    1
3168.64    1
2997.89    1
2998.02    1
3258.76    1
3088.21    1
3379.65    1
3349.54    1
2987.46    1
3198.0     1
3058.18    1
3349.87    1
3048.07    1
3098.26    1
3157.89    1
          ..
3108.24    1
2998.4     1
3299.18    1
3128.42    1
3208.64    1
3018.03    1
3389.23    1
3208.34    1
2968.03    1
3279.02    1
2977.9     1
3268.89    1
3269.12    1
3149.02    1
3218.2     1
3038.06    1
3058.42    1
3229.1     1
3369.19    1
3249.08    1
3118.43    1
3198.71    1
3118.3     1
3259.04    1
3228.0     1
3349.07    1
3037.66    1
2907.56    1
3219.13    1
3299.3     1
Length: 385, dtype: int64

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

In [95]:
admissions.set_index(["GRE Score","CGPA"], inplace=True)
admissions.head()

,,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
GRE Score,CGPA,,,,,,
337,9.65,118,4,4.5,4.5,1,0.92
316,8.00,104,3,3.0,3.5,1,0.72
322,8.67,110,3,3.5,2.5,1,0.80
314,8.21,103,2,2.0,3.0,0,0.65
330,9.34,115,5,4.5,3.0,1,0.90

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [96]:
# Your code here:

admissions = admissions.reset_index()
admissions.head()

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,337,9.65,118,4,4.5,4.5,1,0.92
1,316,8.00,104,3,3.0,3.5,1,0.72
2,322,8.67,110,3,3.5,2.5,1,0.80
3,314,8.21,103,2,2.0,3.0,0,0.65
4,330,9.34,115,5,4.5,3.0,1,0.90

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [97]:
# Your code here:
len(admissions[admissions["CGPA"] > 9])

110

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [98]:
# Your code here:

admissions[(admissions["CGPA"] > 9) & (admissions["SOP"] < 3.5)]

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
28,338,9.40,118,4,3.0,4.5,1,0.91
62,327,9.02,114,3,3.0,3.0,0,0.61
140,326,9.11,114,3,3.0,3.0,1,0.83
217,324,9.01,111,4,3.0,3.0,1,0.82
381,325,9.11,107,3,3.0,3.5,1,0.84

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [99]:
col = admissions["CGPA"]

In [100]:
(col - col.mean()) / col.std()

0      1.747900
1     -0.991211
2      0.121034
3     -0.642597
4      1.233279
5     -0.659198
6     -1.157218
7     -0.991211
8      0.004829
9      0.668856
10     0.834863
11    -0.991211
12    -0.659198
13    -0.493191
14     0.170836
15    -0.991211
16     0.336843
17    -0.161177
18    -0.327184
19     1.498890
20     1.830903
21     1.996910
22     0.336843
23    -1.821244
24    -2.319265
25    -2.153258
26    -0.825204
27    -0.493191
28     1.332883
29     1.664896
         ...
355   -0.592795
356    1.034071
357    1.698098
358   -0.094775
359   -1.572234
360   -1.555634
361   -1.937449
362   -1.721640
363   -1.572234
364   -0.277382
365    0.403245
366    0.121034
367    0.917866
368   -0.559593
369    1.897306
370    2.030111
371   -1.057614
372   -0.825204
373   -1.323224
374   -0.260781
375   -0.592795
376    0.087833
377    0.868064
378    0.270440
379    1.050671
380    0.735259
381    0.851463
382    1.415886
383    0.303641
384    1.764500
Name: CGPA, Length: 385, dtype: float64

In [101]:
def standardize(col):

    # This function takes a column from a dataframe and returns a standardized column by subtracting the column's mean
    # and dividing by the column's standard deviation.

    # Your code here:
    return (col - col.mean()) / col.std()

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [102]:
# Your code here:
admissions["CGPA_std"],admissions["GRE_std"],admissions["LOR_std"] = standardize(admissions["CGPA"]), standardize(admissions["GRE Score"]), standardize(admissions["LOR"])
admissions.head()

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std
0,337,9.65,118,4,4.5,4.5,1,0.92,1.747900,1.753381,1.191647
1,316,8.00,104,3,3.0,3.5,1,0.72,-0.991211,-0.063367,0.076740
2,322,8.67,110,3,3.5,2.5,1,0.80,0.121034,0.455704,-1.038166
3,314,8.21,103,2,2.0,3.0,0,0.65,-0.642597,-0.236391,-0.480713
4,330,9.34,115,5,4.5,3.0,1,0.90,1.233279,1.147798,-0.480713

In [103]:
#admissions["CGPA_std","GRE_std","LOR_std"].apply(x: standardize(x))

We will generate the decision choice at random using the code below. Please run the cell.

In [104]:
# Run this code:

from random import choices
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [105]:
#decision_choice

In [106]:
# Your code here:
deciding_column = admissions.lookup(admissions.index, decision_choice)

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [107]:
# Your code here:

admissions["decision"] = np.where(deciding_column > 0.8, 1, 0 )

In [109]:
admissions.head()

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,decision
0,337,9.65,118,4,4.5,4.5,1,0.92,1.747900,1.753381,1.191647,1
1,316,8.00,104,3,3.0,3.5,1,0.72,-0.991211,-0.063367,0.076740,0
2,322,8.67,110,3,3.5,2.5,1,0.80,0.121034,0.455704,-1.038166,0
3,314,8.21,103,2,2.0,3.0,0,0.65,-0.642597,-0.236391,-0.480713,0
4,330,9.34,115,5,4.5,3.0,1,0.90,1.233279,1.147798,-0.480713,1

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [112]:
# Your code here:

len(admissions[admissions.decision == 1])

91

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [162]:
admissions.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR', 'CGPA', 'Research', 'Chance of Admit'],
      dtype='object')

In [163]:
admissions.columns = admissions.columns.str.rstrip().str.replace(' ', '_').str.lower()


admissions.columns

Index(['serial_no.', 'gre_score', 'toefl_score', 'university_rating', 'sop',
       'lor', 'cgpa', 'research', 'chance_of_admit'],
      dtype='object')

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [170]:
# Your code here:
def conditions(row):
    if row['university_rating'] >= 4:
        row['gre_score']+= 10         
    return row

In [171]:
admissions.iloc[4]

serial_no.             5.00
gre_score            330.00
toefl_score          115.00
university_rating      5.00
sop                    4.50
lor                    3.00
cgpa                   9.34
research               1.00
chance_of_admit        0.90
Name: 4, dtype: float64

In [149]:
conditions(admissions.iloc[4])

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

serial_no.             5.00
gre_score            340.00
toefl_score          115.00
university_rating      5.00
sop                    4.50
lor                    3.00
cgpa                   9.34
research               1.00
chance_of_admit        0.90
adjusted_gre           3.00
Name: 4, dtype: float64

In [172]:
admissions = admissions.apply(lambda x: conditions(x) , axis=1)

In [173]:
admissions.head()

,serial_no.,gre_score,toefl_score,university_rating,sop,lor,cgpa,research,chance_of_admit
0,1.0,347.0,118.0,4.0,4.5,4.5,9.65,1.0,0.92
1,2.0,316.0,104.0,3.0,3.0,3.5,8.00,1.0,0.72
2,3.0,322.0,110.0,3.0,3.5,2.5,8.67,1.0,0.80
3,4.0,314.0,103.0,2.0,2.0,3.0,8.21,0.0,0.65
4,5.0,340.0,115.0,5.0,4.5,3.0,9.34,1.0,0.90

In [174]:
admissions["adjusted_gre"] = pd.cut(admissions.gre_score, bins=4, labels=False)

In [175]:
admissions.head()

,serial_no.,gre_score,toefl_score,university_rating,sop,lor,cgpa,research,chance_of_admit,adjusted_gre
0,1.0,347.0,118.0,4.0,4.5,4.5,9.65,1.0,0.92,3
1,2.0,316.0,104.0,3.0,3.0,3.5,8.00,1.0,0.72,1
2,3.0,322.0,110.0,3.0,3.5,2.5,8.67,1.0,0.80,2
3,4.0,314.0,103.0,2.0,2.0,3.0,8.21,0.0,0.65,1
4,5.0,340.0,115.0,5.0,4.5,3.0,9.34,1.0,0.90,3